{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": false,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }], "flow", "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
